#name-input{
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(168, 168, 168);
  width:95%;
  height:30px;
  margin-left:20px;
  margin-bottom: 20px;
  margin-top:20px;
}

#add-tag-input{
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(168, 168, 168);
  width:95%;
  height:30px;
  margin-left:20px;
  margin-bottom: 20px;
}
::-webkit-input-placeholder { 
  color: grey;
  font-size: 15pt; 
  font-weight: 50;
}

input:focus{
  outline: none;
  border-color: #000;
}


.sort-btn{
  border:none;
  cursor: pointer;
  margin-left:30px;
  background-color: rgb(252, 110, 58);
  color:#fff;
  padding:5px;
  border-radius: 10px;
}
.sort-btn:hover{
  color:rgb(252, 110, 58);
  background-color: #fff;
  border:1.3px solid rgb(252, 110, 58);
}
.sort-btn:focus{
  outline:none;
}
