#name-input{
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(168, 168, 168);
  width:95%;
  height:30px;
  margin-left:20px;
  margin-bottom: 20px;
  margin-top:20px;
}

#add-tag-input{
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(168, 168, 168);
  width:95%;
  height:30px;
  margin-left:20px;
  margin-bottom: 20px;
}
::-webkit-input-placeholder { 
  color: grey;
  font-size: 15pt; 
  font-weight: 50;
}

input:focus{
  outline: none;
  border-color: #000;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
